#mainHeading
{
    text-align: center; background-color: rgb(53, 223, 14);
}

div.main 
{
    background-color: #75203F;
    height: fit-content;
    width: fit-content;
    border-top: 15px solid #A22B55;
    border-bottom: 15px solid #A22B55;
    border-right: 95px solid #A22B55;
    border-left: 95px solid #A22B55;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-right: 75px;
    padding-left: 75px;
}

table 
{
    border: 1px solid transparent;
}

tr td
{
    border: 1px solid transparent;
    padding:7px;
    color: white;
}

input[type="text"],input[type="password"],input[type="number"],input[type="textarea"],input[type="button"] 
{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input[type="button"] 
{
    font-weight: bold;
    background-color: white; 
    color: black; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
    font-size: large;
    transition: background-color 0.3s; 
}

input[type="button"]:hover 
{
    background-color: plum; 
} 

select 
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: url('arrow.jpg');
    background-repeat: no-repeat;
    background-position: right center;
}

select option 
{    
    background-color: #fff;
}
    
.full-width-button 
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
    border-radius: 5px;
}